.header-ctas {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .header-icon {
    color: white;
    margin: 20px;
    width: 20px;
    height: 20px;
  }

  .malova-header-link {
    color: white;
    text-decoration: none;
  }

  .left-side {
    width: 30%;
  }

  .right-side {
    width: 30%;
    text-align: right;
  }
}

@media screen and (max-width: 1280px) {
  .header-icon {
    display: none;
  }

  /* .malova-header-link {
    text-align: left;
  } */
}

.cart-count {
  color: black;
  text-decoration: none;
  background-color: #d3a292;
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* margin-right: 100px; */
}
