/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: black;
  width: 100vw;
  top: 0;

  display: flex;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.malovaHomeLink {
  font-family: 'Classical_Diary';
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;

  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  border-radius: 5px;
  /* box-shadow: -1px 1px 3px black; */
}
@media (width <= 800px) {
  .headerIcon {
    display: none;
  }
}

.navLinks {
  color: white;
}

/* .header-menu-mobile-toggle {
    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .header-menu-desktop {
    display: none;
    grid-gap: 1rem;
    @media (min-width: 45em) {
      display: flex;
      grid-gap: 1rem;
      margin-left: 3rem;
    }
  }
  
  .header-menu-item {
    cursor: pointer;
  } */

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.headerContainer {
  /* background-color: #403d39; */
  margin: 0px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
  }
}
