/*
* --------------------------------------------------
* account_.login.jsx & account_.register.jsx
* --------------------------------------------------
*/

.login {
  margin-top: 75px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #233349;
  border-radius: 16px;
  width: 400px;
  max-width: 95%;
  margin: 20px;
  padding: 30px;
  text-align: center;
  color: #edd6cc;
  font-size: 20px;

  input {
    background-color: #9eafb6;
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    width: 200px;
    margin-bottom: 10px;
  }

  .signInButton {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #c4772a;
    color: black;
    width: 100px;
  }

  .signInButton:hover {
    cursor: pointer;
  }
}

.sign-in-link {
  color: black;
}

.request-link-button {
  padding: 10px;
  border-radius: 16px;
  border: solid black 1px;
  background-color: #c4772a;
  color: black;
  width: 200px;
}

/*
* --------------------------------------------------
* account_.recover.jsx
* --------------------------------------------------
*/

.request-link-button:hover {
  cursor: pointer;
}

.account-recover {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
