/*
* --------------------------------------------------
* account.jsx
* --------------------------------------------------
*/

.navigation {
  padding: 10px;
  background-color: #d3a292;
  height: 50px;
  margin-top: -31px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .accountLinks {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
  }

  .accountLinks:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.block {
  button {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #c4772a;
    color: black;
    width: 100px;
  }

  button:hover {
    cursor: pointer;
  }
}

.logout-block {
  width: auto;
  display: flex;
  justify-content: end;
}

/*
* --------------------------------------------------
* account_.login.jsx & account_.register.jsx
* --------------------------------------------------
*/

.login {
  margin-top: 75px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #233349;
  border-radius: 16px;
  width: 400px;
  max-width: 90%;
  margin: 20px;
  padding: 30px;
  text-align: center;
  color: #edd6cc;
  font-size: 20px;

  input {
    background-color: #9eafb6;
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    width: 200px;
    margin-bottom: 10px;
  }

  .signInButton {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #c4772a;
    color: black;
    width: 100px;
  }

  .signInButton:hover {
    cursor: pointer;
  }
}

@media (width <= 800px) {
  .sign-in-fieldset {
    width: 50%;
  }
}

.sign-in-link {
  color: black;
}

.request-link-button {
  padding: 10px;
  border-radius: 16px;
  border: solid black 1px;
  background-color: #c4772a;
  color: black;
  width: 200px;
}

/*
* --------------------------------------------------
* account_.recover.jsx
* --------------------------------------------------
*/

.request-link-button:hover {
  cursor: pointer;
}

.account-recover {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/*
* --------------------------------------------------
* account.orders.jsx
* --------------------------------------------------
*/

.orders {
  padding: 20px;
  /* background-color: #9eafb6; */
  min-height: 67vh;
}

/*
* --------------------------------------------------
* account.profile.jsx
* --------------------------------------------------
*/

.account-profile {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #c4772a;
    color: black;
    width: 100px;
  }

  button:hover {
    cursor: pointer;
  }
}

/*
* --------------------------------------------------
* account.addresses.jsx
* --------------------------------------------------
*/

.account-addresses {
  padding: 20px;
}
