:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color: white;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* my styles :)
* --------------------------------------------------
*/

@font-face {
  font-family: 'Classical_Diary';
  src: local('ClassicalDiary-Regular'),
    url('../fonts/ClassicalDiary-Regular.ttf');
}

body {
  background-color: #252422;
  /* background-color: #403d39; */
  color: white;
}

.malovaContainer {
  color: black;
  height: 600px;
  background-color: black;
  color: white;
  margin-left: -20px;
  margin-right: -20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .malovaSubContainer {
    width: 600px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    z-index: 2;
  }

  .malovaContainerBackground {
    height: 100%;
    width: 800px;
    max-width: 60%;
    box-shadow: inset 0px 0px 45px 10px black;
    background-image: url('/not_okay.png');
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-size: contain;
  }

  h1 {
    font-size: 75px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
  }
}

@media (width <= 1200px) {
  .malovaSubContainer {
    position: absolute;
  }

  .malovaContainerBackground {
    opacity: 0.5;
    overflow: hidden;
  }
}

.ourMessageScreen {
  width: 90%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c60f7b; */
}

.ourMessageContainer {
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 90%;
  max-width: 90%;

  background-color: gainsboro;
  color: black;
  box-shadow: -5px 5px 5px black;
  border-radius: 5px;

  .block {
    width: 400px;
    max-width: 90%;
  }

  .ourMessage {
    font-size: 75px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
    /* temporary solution: */
    word-break: break-word;
  }

  .ourMessageScript {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (width <= 800px) {
  .ourMessageContainer {
    margin: 0px;
  }
}

.aboutUsContainer {
  padding: 10px;
  background-color: #403d39;
  margin-left: -20px;
  margin-right: -20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  h1 {
    font-size: 50px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
  }

  .pTag {
    color: #e5ece9;
  }

  img {
    height: 600px;
    max-width: 90%;
    border-radius: 0%;
  }

  @media (width <= 800px) {
    img {
      height: auto;
      width: auto;
    }
  }

  .heart {
    color: pink;
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-bottom: 10px;
  }

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collectionsTitle {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Classical_Diary';
  letter-spacing: 3px;
}

.collectionsContainer {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;

  .collectionCard {
    background-color: rgba(255, 255, 255, 0.15);
    border: solid black;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    height: 400px;
    width: 30%;
    max-width: 90%;
    box-shadow: -2px 2px 5px black;
    transition: 1s;
  }

  @media (width <= 800px) {
    .collectionCard {
      margin: 10px;
      width: 40%;
      height: 300px;
    }
  }

  .collectionCard:hover {
    scale: 1.1;
  }

  img {
    width: 100%;
    height: 75%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }

  .cardTitleContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .collectionCardTitle {
    color: white;
    height: 50px;
  }
}
.connectHeader {
  /* background-color: #e5ece9; */
  display: flex;
  justify-content: space-between;

  .igLogoBlock {
    /* background-color: wheat; */
    text-align: right;
    margin: 20px;
  }

  .igLogo {
    color: #f90093;
    width: 20px;
    height: 20px;
  }
}

.connect {
  background-color: #000;
  margin: -20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
  font-size: 20px;

  h1 {
    font-size: 50px;
    font-family: 'Classical_Diary';
    letter-spacing: 2px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
    margin-left: 10px;
    color: #e5ece9;
  }

  .followSpan {
    color: white;
  }

  .followUs {
    text-align: center;
    margin: 10px;
    font-family: 'Classical_Diary';
    letter-spacing: 1px;
  }
  .connectScript {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
}

.igPostContainer {
  display: flex;
  justify-content: space-around;

  .igLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    height: 400px;
    transition: 1s;
  }

  .one {
    background-image: url('/not_okay_ig.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .two {
    background-image: url('/grow_ig.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .three {
    background-image: url('/circle_okay_ig.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .igImageLogo {
    color: white;
    opacity: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
  }

  .igLogoContainer:hover {
    opacity: 0.5;
  }

  .igLogoContainer:hover .igImageLogo {
    opacity: 1;
  }

  @media (width <= 800px) {
    .igLogoContainer {
      height: 200px;
      width: 30%;
      margin: 5px;
    }
  }
}

.searchButton {
  background-color: #f90093;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Classical_Diary';
  font-size: 20px;
  padding: 10px;
}

.searchButton:hover {
  cursor: pointer;
}

.backButton {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -30px;
  margin-left: 10px;
}

.backButton:hover {
  cursor: pointer;
}

.login {
  h1 {
    font-family: Classical_Diary;
    letter-spacing: 1px;
    font-size: 50px;
  }
}

.signInForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.signInButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.signInButton:hover {
  cursor: pointer;
}

.forgotPasswordTitle {
  font-family: Classical_Diary;
  letter-spacing: 1px;
  font-size: 40px;
}

.forgotPassword {
  color: #e5ece9;
}

.register {
  color: #e5ece9;
}

.forgotPasswordForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.resetLinkButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.resetLinkButton:hover {
  cursor: pointer;
}

.loginLink {
  color: #e5ece9;
}

.registerForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.registerButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.collectionPageCard {
  background-color: rgba(255, 255, 255, 0.15);
  border: solid black;
  text-align: center;
  border-radius: 10px;
  box-shadow: -2px 2px 5px black;
  transition: 1s;
}

@media (width <= 800px) {
  .collectionPageCard {
    margin: 10px;
    width: 40%;
    height: 300px;
  }
}

.collectionPageCard:hover {
  scale: 1.05;
}

.collectionPageCardTitle {
  color: white;
  font-size: 20px;
}

.collectionPageTitle {
  font-family: Classical_Diary;
  font-size: 40px;
  text-align: center;
}

.accountLinks {
  color: #e5ece9;
}

.startShopping {
  color: #e5ece9;
}

.whiteText {
  color: #e5ece9;
}

.customFormLink {
  color: white;
}

.customForm {
  background-color: #403d39;
  border-radius: 16px;
  margin: 10px;
  width: 800px;
  max-width: 100%;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.contactCustomForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 40%;
    margin: 5px;
  }
}

.customFormBottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 40%;
  }

  button {
    width: 100px;
  }

  .selections {
    width: 40%;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
