:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color: white;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* my styles :)
* --------------------------------------------------
*/

@font-face {
  font-family: 'Classical_Diary';
  src: local('ClassicalDiary-Regular'),
    url('../fonts/ClassicalDiary-Regular.ttf');
}

body {
  background-color: #252422;
  /* background-color: #403d39; */
  color: white;
}

.malovaContainer {
  color: black;
  height: 600px;
  background-color: black;
  color: white;
  margin-left: -20px;
  margin-right: -20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .malovaSubContainer {
    width: 600px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    z-index: 2;
  }

  .malovaContainerBackground {
    height: 100%;
    width: 800px;
    max-width: 60%;
    box-shadow: inset 0px 0px 45px 10px black;
    background-image: url('/not_okay.png');
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-size: contain;
  }

  h1 {
    font-size: 75px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
  }
}

@media (width <= 1200px) {
  .malovaSubContainer {
    position: absolute;
  }

  .malovaContainerBackground {
    opacity: 0.5;
    overflow: hidden;
  }
}

.searchButton {
  background-color: #f90093;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Classical_Diary';
  font-size: 20px;
  padding: 10px;
}

.searchButton:hover {
  cursor: pointer;
}

.backButton {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -30px;
  margin-left: 10px;
}

.backButton:hover {
  cursor: pointer;
}

.login {
  h1 {
    font-family: Classical_Diary;
    letter-spacing: 1px;
    font-size: 50px;
  }
}

.signInForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.signInButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.signInButton:hover {
  cursor: pointer;
}

.forgotPasswordTitle {
  font-family: Classical_Diary;
  letter-spacing: 1px;
  font-size: 40px;
}

.forgotPassword {
  color: white;
}

.register {
  color: white;
}

.forgotPasswordForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.resetLinkButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.resetLinkButton:hover {
  cursor: pointer;
}

.loginLink {
  color: white;
}

.registerForm {
  fieldset {
    border-radius: 16px;
    background-color: #403d39;
  }
}

.registerButton {
  border-radius: 16px;
  padding: 8px;
  font-size: 16px;
}

.collectionPageCard {
  background-color: rgba(255, 255, 255, 0.15);
  border: solid black;
  text-align: center;
  border-radius: 10px;
  box-shadow: -2px 2px 5px black;
  transition: 1s;
}

@media (width <= 800px) {
  .collectionPageCard {
    margin: 10px;
    width: 40%;
    height: 300px;
  }
}

.collectionPageCard:hover {
  scale: 1.05;
}

.collectionPageCardTitle {
  color: white;
  font-size: 20px;
}

.collectionPageTitle {
  font-family: Classical_Diary;
  font-size: 40px;
  text-align: center;
}

.accountLinks {
  color: white;
}

.startShopping {
  color: white;
}

.whiteText {
  color: white;
}

.customFormLink {
  color: white;
}

.customForm {
  background-color: #403d39;
  border-radius: 16px;
  margin: 10px;
  width: 800px;
  max-width: 100%;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}

.contactCustomForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 40%;
    margin: 5px;
  }
}

.customFormBottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 40%;
  }

  button {
    width: 100px;
  }

  .selections {
    width: 40%;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
