:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  color: white;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  &:hover {
    opacity: 1;
  }
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
  &:last-child {
    margin: 0;
  }
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
  }
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  /* background: pink; */
  width: 100%;
  margin: 10px auto;

  display: flex;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.malovaHomeLinkContainer {
  padding: 10px;
  /* background-color: #f90093; */
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
}

.malovaHomeLink {
  font-family: Classical_Diary;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: -1px 1px 3px black;
}

.navLinks {
  color: white;
}

/* .header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}



.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
} */

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  /* @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  } */
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* my styles :)
* --------------------------------------------------
*/

@font-face {
  font-family: 'Classical_Diary';
  src: local('ClassicalDiary-Regular'),
    url('../fonts/ClassicalDiary-Regular.ttf');
}

body {
  background-color: #252422;
  /* background-color: #403d39; */
  color: white;
}

.malovaContainer {
  color: black;
  height: 600px;
  background-color: black;
  color: white;
  /* box-shadow: 0px 10px 5px black; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .malovaSubContainer {
    width: 600px;
    text-align: center;
    text-shadow: black 1px 0 10px;
    z-index: 2;
  }

  .malovaContainerBackground {
    height: 100%;
    width: 800px;
    max-width: 60%;
    box-shadow: inset 0px 0px 45px 10px black;
    background-image: url('/not_okay.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  h1 {
    font-size: 75px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
  }

  button {
    background-color: #f90093;
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-family: 'Classical_Diary';
    font-size: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

@media (width <= 1200px) {
  .malovaSubContainer {
    position: absolute;
  }

  .malovaContainerBackground {
    opacity: 0.5;
    overflow: hidden;
  }
}

.ourMessageScreen {
  width: 90%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #c60f7b; */
}

.ourMessageContainer {
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 90%;
  max-width: 90%;

  background-color: gainsboro;
  color: black;
  box-shadow: -5px 5px 5px black;
  border-radius: 5px;

  .block {
    width: 400px;
    max-width: 90%;
  }

  .ourMessage {
    font-size: 75px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
    /* temporary solution: */
    word-break: break-word;
  }

  .ourMessageScript {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (width <= 800px) {
  .ourMessageContainer {
    margin: 0px;
  }
}

.aboutUsContainer {
  padding: 10px;
  background-color: #403d39;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  h1 {
    font-size: 50px;
    font-family: 'Classical_Diary';
    letter-spacing: 3px;
  }

  .pTag {
    color: #e5ece9;
  }

  img {
    height: 600px;
    max-width: 90%;
    border-radius: 0%;
  }

  @media (width <= 800px) {
    img {
      height: auto;
      width: auto;
    }
  }

  .heart {
    color: pink;
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-bottom: 10px;
  }

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collectionsTitle {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Classical_Diary';
  letter-spacing: 3px;
}

.collectionsContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;

  .collectionCard {
    background-color: #e5ece9;
    border: solid black;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    height: auto;
    width: 30%;
    max-width: 90%;
  }

  @media (width <= 800px) {
    .collectionCard {
      margin: 10px;
      width: 40%;
    }
  }

  img {
    width: 100%;
    overflow: hidden;
  }
}
.connectHeader {
  /* background-color: #e5ece9; */
  display: flex;
  justify-content: space-between;

  .igLogoBlock {
    /* background-color: wheat; */
    text-align: right;
    margin: 20px;
  }

  .igLogo {
    color: #f90093;
    width: 20px;
    height: 20px;
  }
}

.connect {
  background-color: #000;
  margin: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
  font-size: 20px;

  h1 {
    font-size: 50px;
    font-family: 'Classical_Diary';
    letter-spacing: 2px;
    margin: 0;
  }

  p {
    margin-bottom: 30px;
    margin-left: 10px;
    color: #e5ece9;
  }

  .followSpan {
    color: white;
  }

  .followUs {
    text-align: center;
    margin: 10px;
    font-family: 'Classical_Diary';
    letter-spacing: 1px;
  }
  .connectScript {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }
}

.igPostContainer {
  display: flex;
  justify-content: space-around;

  .igLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    height: 400px;
    transition: 1s;
  }

  .one {
    background-image: url('/not_okay_ig.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .two {
    background-image: url('/grow_ig.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .three {
    background-image: url('/circle_okay_ig.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .igImageLogo {
    color: white;
    opacity: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
  }

  .igLogoContainer:hover {
    opacity: 0.5;
  }

  .igLogoContainer:hover .igImageLogo {
    opacity: 1;
  }

  @media (width <= 800px) {
    .igLogoContainer {
      height: 200px;
      width: 30%;
      margin: 5px;
    }
  }
}
