/*
* --------------------------------------------------
* collections._index.jsx
* --------------------------------------------------
*/

.collection-page-header {
  text-align: center;
  padding: 50px;

  h1 {
    font-size: 75px;
  }
}

.collections-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;

  .card {
    background-color: black;
    box-shadow: -2px 2px 2px black;
    width: 30%;
    height: 500px;
    margin: 20px;
    text-align: center;
    border-radius: 16px;
    transition: 1s;
  }

  .card:hover {
    scale: 1.1;
  }

  .Image {
    border-radius: 16px 16px 0px 0px;
    height: auto;
    overflow: hidden;
    height: 75%;
    overflow: hidden;
    object-fit: cover;
  }

  h5 {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
}

@media (width <= 800px) {
  .card {
    margin: 10px;
    width: 40%;
    height: 300px;
  }
}

/*
* --------------------------------------------------
* collections.$handle.jsx
* --------------------------------------------------
*/

.collectionTop {
  padding: 10px;
  margin: 20px;
  margin-bottom: 50px;
  text-align: center;

  h1 {
    margin-top: 50px;
    font-size: 50px;
  }
}

.products-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #d3a292;
  margin: -30px;
  margin-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (width <= 800px) {
  .product-item img {
    width: 40%;
    height: auto;
  }
}

.product-item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  margin-bottom: 20px;
  line-height: 5px;
}

/*
* --------------------------------------------------
* products.$handle.jsx
* --------------------------------------------------
*/

.back-button {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 30px;
}

.back-button:hover {
  cursor: pointer;
}

.product {
  margin-top: 50px;
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  margin: 10px;
  margin-top: 30px;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;

  .title {
    font-family: 'Classical_Diary';
    font-size: 40px;
  }
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  /* padding: 0.25rem 0.5rem; */
  color: white;
}

.descriptionTitle {
  cursor: pointer;
}

.productDescription {
  transition: 1s;
  margin-left: 10px;
}

.optionName {
  font-size: larger;
}

/* .borderSomething {
    color: pink;
  } */

.money {
  font-size: 20px;
}

.addToCartButton {
  background-color: #a8512f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 16px;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
}

.addToCartButton:hover {
  cursor: pointer;
}
