aside {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 40vw;
  position: fixed;
  top: 0px;
  transition: transform 1s ease-in-out;
  background-color: #c4772a;
}

@media (width <= 800px) {
  aside {
    width: 100%;
  }
}

.collectionsMenuList {
  display: flex;
  flex-direction: column;

  .link {
    color: #a8512f;
    text-decoration: none;
    margin-left: 10px;
    font-weight: normal;
    font-size: 30px;
    transition: 1s;
  }

  .link:hover {
    color: black;
  }

  @media (width <= 800px) {
    .link {
      font-size: 20px;
    }
  }
}

aside header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

aside header h3 {
  margin: 5px;
  font-size: 30px;
}

aside header .close {
  font-weight: bold;
  text-decoration: none;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 1s ease-in-out;
  transition: opacity 1s;
  visibility: hidden;
  z-index: 100;
  color: black;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
  }
}

/* 
* --------------------------------------------------
* SEARCH ASIDE
* --------------------------------------------------
*/

.predictive-search {
  color: white;

  .aside-search-bar {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    margin-left: 20px;
  }

  .aside-search-button {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: black;
    color: #edd6cc;
    display: none;
  }
}

.predictive-search-form {
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 20px;
  margin-left: 20px;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.aside-search-result {
  color: black;
}

.view-results-search-aside-link {
  color: black;
  text-decoration: none;
}

.aside-subheaders {
  color: antiquewhite;
  text-decoration: none;
  font-size: 20px;
}

.aside-search-result-list {
  color: #c4772a;
}

.aside-search-link {
  color: #233349;
  text-decoration: none;
  transition: 1s;
}

.aside-search-link:hover {
  color: black;
  scale: 1.01;
}
