/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  overflow-y: auto;
  width: auto;
  z-index: 100;
  font-size: 20px;
}

.cart-line {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 20px;
  border-radius: 10px;
}

/* .cart-summary-page {
  position: relative;
} */

.cart-summary-aside {
  bottom: 0;
  position: absolute;
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

.cont-shopping-aside-link {
  color: black;
  text-decoration: none;
}

.cont-checkout {
  color: black;
}

.cart-prod-title {
  color: black;
  text-decoration: none;
}

.quantity-cart-butt {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: #edd6cc;
}

.cart-button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: #edd6cc;
}

.cart-button:hover {
  cursor: pointer;
}
