.splash-page {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  height: 585px;
  background-color: #233349;
  color: #9eafb6;

  h1 {
    font-size: 60px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    h1 {
      font-size: 150px;
      margin-bottom: 0;
    }
  }

  .header {
    display: flex;
    justify-content: space-around;
  }

  button {
    width: 250px;
    background-color: #d3a292;
    /* color: #edd6cc; */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 16px;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
  }

  button:hover {
    cursor: pointer;
  }
}

.splash-image {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: absolute;
  margin-top: -250px;

  img {
    width: 500px;
  }
}

.top-layer {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 10px;
  z-index: 1000;

  p {
    margin-top: 5px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 1280px) {
  .splash-page {
    height: 350px;
  }

  .splash-image {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .top-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
