.aboutUsContainer {
  background-color: #d3a292;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  h1 {
    font-size: 75px;
    color: white;
  }

  .pTag {
    color: #edd6cc;
    font-size: 20px;
  }

  img {
    height: 600px;
    max-width: 90%;
    border-radius: 10px;
  }

  @media (width <= 800px) {
    img {
      height: auto;
      width: auto;
    }
  }

  .heart {
    color: #a8512f;
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-bottom: 10px;
  }

  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 600px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
