/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/

.search-page {
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  background-color: #9eafb6;
}

.search-result {
  h2 {
    margin-top: 10px;
  }
}

.search-result {
  margin-bottom: 1.5rem;
  /* display: flex;
  justify-content: space-around; */
}

.loadMoreSearch {
  color: black;
  text-decoration: none;
  background-color: #c4772a;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}

.searchProductImage {
  width: 200px;
  height: auto;
}

.searchButton {
  padding: 10px;
  border-radius: 16px;
  border: solid black 1px;
  background-color: #233349;
  color: #edd6cc;
}

.searchButton:hover {
  cursor: pointer;
}

.search-page-bar {
  background-color: #edd6cc;
  padding: 10px;
  border-radius: 16px;
  border: solid black 1px;
  width: 200px;
  margin-bottom: 10px;
}

.search-results-item {
  background-color: black;
  border-radius: 16px;
  width: 20%;
  margin: 20px;
  text-align: center;

  img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }
}

.productSearchLink {
  text-decoration: none;
  padding-bottom: 20px;
  color: #9eafb6;
  transition: 1s;
}

/* HELP HERE!! */
.search-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
