/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.search-result {
  h2 {
    margin-top: 10px;
  }
}

.productSearchLink {
  color: white;
  transition: 1s;
  margin-bottom: 15px;
}

/* .productSearchLink:hover {
    scale: 1.1;
  } */

.search-result {
  margin-bottom: 1.5rem;
  /* display: flex;
  justify-content: space-around; */
}

.search-results-item {
  margin-bottom: 0.5rem;
  /* width: 200px; */
  /* display: flex;
  justify-content: center; */
}

.loadMoreSearch {
  color: white;
  border: solid 2px white;
  border-radius: 16px;
  padding: 10px;
}

.search {
  font-size: 20px;
  margin: 10px;

  h1 {
    font-family: Classical_Diary;
    font-size: 40px;
  }
}

.searchProductImage {
  width: 200px;
  height: auto;
}

.searchButton {
  background-color: #f90093;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Classical_Diary';
  font-size: 20px;
  padding: 10px;
}

.searchButton:hover {
  cursor: pointer;
}

/* .something {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
} */

.something {
  background-color: aliceblue;
}
