.custom-form-display {
  background-color: #9eafb6;
  /* height: 300px; */
  padding: 20px;
  text-align: center;
  color: #edd6cc;
  font-size: 25px;
  text-decoration: none;

  h1 {
    color: white;
    font-size: 75px;
    margin-bottom: 0;
  }

  p {
    text-decoration: none;
    color: #233349;
  }
}

.yellow-button {
  background-color: #c4772a;
  color: white;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 16px;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
}

.yellow-button:hover {
  cursor: pointer;
}

/*
* --------------------------------------------------
* custom_form._index.jsx
* --------------------------------------------------
*/

.custom-form-container {
  display: flex;
  justify-content: center;
}

.customForm {
  background-color: #233349;
  border-radius: 16px;
  width: 400px;
  max-width: 95%;
  margin: 20px;
  margin-top: 75px;
  padding: 30px;
  text-align: center;
  color: #edd6cc;
  font-size: 20px;

  input {
    background-color: #9eafb6;
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    width: 200px;
    margin-bottom: 10px;
  }

  textarea {
    width: 300px;
    height: 200px;
    margin: 10px;
  }

  button {
    padding: 10px;
    border-radius: 16px;
    border: solid black 1px;
    background-color: #c4772a;
    color: black;
    width: 100px;
  }

  button:hover {
    cursor: pointer;
  }
}
