.custom-form-display {
  background-color: #9eafb6;
  height: 300px;
  padding: 20px;
  text-align: center;
  color: #edd6cc;
  font-size: 25px;
  text-decoration: none;

  h1 {
    color: white;
    font-size: 75px;
    margin-bottom: 0;
  }

  p {
    text-decoration: none;
    color: #233349;
  }
}
